astroid==2.15.5
certifi==2023.5.7
charset-normalizer==3.2.0
colorama==0.4.6
dill==0.3.6
geojson==2.5.0
idna==3.4
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
platformdirs==3.7.0
pylint==2.17.4
pyowm==3.3.0
PySocks==1.7.1
requests==2.31.0
tomlkit==0.11.8
urllib3==2.0.3
wrapt==1.15.0
